{% extends "base.html" %}
{% block title %}Customer List{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th></th>
            <th>No.</th>
            <th>Upload Image</th>
            <th>Personality Anlyztics</th>
        </tr>
    </thead>
    {% for customer in customerList %}
        <tr>
            <td></td>
            <td><a href="showcustomerinfo?customer_id={{ customer['customer_id'] }}">{{ customer['customer_id'] }}</a></td>
            <td><a href="uploadimg?customer_id={{ customer['customer_id'] }}">Upload</a></td>
            <td><a href="#">Anlyztics</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}