{% extends "base.html" %}
{% block title %}Online Customer Service{% endblock %}
{% block menu %}
<ul>
    <li><a href="login" class="ui-btn-active">Login</a></li>
</ul>
{% endblock %}
{% block content %}
    <div>
        {% for conversation in conversationList %}
            <span style="float: {{ conversation['align'] }}">{{ conversation['text'] }}</span><br>
        {% endfor %}
        <br>
    </div>
    <div>
        <br>
        <form action="doconversation" method="POST">
            {% for error in form.question.errors %}
            {{ error }}<br>
            {% endfor %}
            {{ form.csrf_token }}
            {{ form.question.label }}  {{ form.question(size=100) }}
            {{ form.submit }}
        </form>
        {% if audio_file != '' %}
        <audio name="audio" id="audio" controls autoplay src="{{ audio_file }}">当浏览器不支持audio标签</audio>
        {% endif %}
    </div>
{% endblock %}