{% extends "base.html" %}
{% block title %}Online Customer Service{% endblock %}
{% block content %}

    <span style="color: red;">
        {{ error }}
        {% for error in form.customer_id.errors %}
        {{ error }}<br>
        {% endfor %}
    </span>
<table>
    <tr>
        <td width="5%"></td>
        <td width="90%">
            <form action="doquerysn" method="POST">
                {{ form.csrf_token }}
                {{ form.customer_id.label }}  :  {{ form.customer_id(size=10) }}
                {{ form.submit }}
            </form>
        </td>
        <td width="5%"></td>
    </tr>
</table>

{% endblock %}